/Python*
/work_area*
/r_minecraft
/minecraft_server
/r_minecraft_old
/tailscale-cs
/thanos
/servers
/bkdir
/vendor
composer.*
configuration.json
configuracion.json
*.txt
*.pyc
*.msp
*.output